@import '../../styles/variables';

.posts {
  flex: 0.7;
  width: 100%;
  padding-right: 24px;
  @media screen and (max-width: 968px) {
    padding-right: 0;
  }
  &__header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 16px;
    &__links {
      display: flex;
      &-btn {
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        color: $text-secondary;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        &:hover {
          color: $text;
        }
        &.active {
          color: $orange;
        }
        &:nth-child(2) {
          margin: 0 24px;
        }
      }
    }
    &__input {
      white-space: nowrap;
      line-height: 20px;
      &-select {
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-size: 12px;
        font-weight: 700;
        outline: none;
      }
      &-label {
        font-size: 12px;
        margin-right: 16px;
      }
    }
  }
}
