@import '../../styles/variables';

.posts {
  margin-bottom: 60px;
  &__header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 750px;
    padding: 34px 30px 10px;
    @media screen and (max-width: 768px) {
      width: 375px;
    }
    &__links {
      display: flex;
      &-btn {
        width: 76px;
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-weight: 700;
        font-size: 17.6px;
        line-height: 21px;
        text-align: left;
        color: $text-secondary;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        &:hover {
          color: $text;
        }
        &.active {
          color: $orange;
        }
        &:nth-child(2) {
          width: 126px;
          margin-left: 19px;
        }
      }
    }
    &__filter {
      &-label {
        font-size: 14.72px;
        line-height: 20px;
        margin-right: 11px;
        padding-right: 2px;
      }
      &-select {
        border: none;
        background-color: transparent;
        font-family: inherit;
        font-size: 17.6px;
        line-height: 21px;
        font-weight: 700;
        padding-right: 2px;
      }
      & img {
        margin-left: 2px;
        cursor: pointer;
      }
    }
  }
}
