@mixin iconBtn() {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-right: 24px;
  margin-left: 8px;
  font-family: inherit;
  font-size: 14px;
  color: $text;
  cursor: pointer;
}

@mixin modal() {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid #dddedf;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  width: max-content;
  z-index: 5;
}
