@mixin iconBtn() {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-right: 24px;
  margin-left: 8px;
  font-family: inherit;
  font-size: 14px;
  color: $text;
  cursor: pointer;
}
