$dark-blue: #242d38;
$orange: #e4871b;
$white: #fff;

$content-bg: #e5e5e5;
$modalBtn: #1b1c23;
$text: #49494f;
$text-secondary: #8c8d91;
$light-text: #a3a3a8;
$blue: #304c70;
$light-blue: #7598c4;
$border: #dddedf;
$liked: #d25746;
$saved: #338473;
