@import '../../../styles/variables';
@import '../../../styles/mixins';

.article {
  position: relative;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 16px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f8;
    padding: 12px 24px;
    border-radius: 6px;
    @media screen and (max-width: 576px) {
      padding: 12px;
    }
    @media screen and (max-width: 375px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__feeds {
      display: flex;
      align-items: center;
      &-feed,
      &-subfeed {
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        margin-inline: 4px;
      }
      &-feed {
        color: $blue;
      }
      &-subfeed {
        color: $light-blue;
      }
      &-icon {
        color: $light-blue;
        font-size: 12px;
        margin-top: 2px;
        &:first-child {
          color: $blue;
          font-size: 14px;
        }
      }
    }
    &__date {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 300;
      @media screen and (max-width: 576px) {
        font-size: 12px;
        font-weight: 400;
      }
      @media screen and (max-width: 375px) {
        margin-top: 8px;
      }
      & p {
        margin-left: 8px;
      }
    }
  }
  &__title {
    display: flex;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &-avatar {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: block;
      margin: 16px 24px;
      @media screen and (max-width: 576px) {
        margin: 16px 8px;
      }
    }
    &__text {
      float: right;
      flex: 1;
      padding: 16px 24px 20px 0;
      @media screen and (max-width: 576px) {
        padding: 16px 8px;
      }
      & span {
        color: #a3a3a8;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        &:nth-child(2) {
          font-weight: 300;
          padding-inline: 6px;
        }
      }
      &-title {
        font-size: 1.35rem;
        line-height: 1.5rem;
        letter-spacing: -0.2;
        margin-block: 8px;
      }
    }
  }
  &__content {
    padding: 8px 24px;
    &__text {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.25em;
      margin-bottom: 16px;
      & a {
        color: $orange;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
      }
    }
    &__img {
      width: 100%;
      display: block;
      margin-bottom: 16px;
    }
  }
  &__footer {
    padding: 0 24px 16px;
    @media screen and (max-width: 576px) {
      padding: 8px 16px 16px;
    }
    &__btn {
      @include iconBtn();
      font-weight: 500;
      &.like:hover,
      &.liked {
        color: #f44336;
      }
      &.save:hover,
      &.saved {
        color: #4caf50;
      }
    }
    & span {
      font-size: 14px;
      margin-left: 6px;
    }
  }
}
