@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  max-width: 1185px;
  background-color: $white;
  @media screen and (max-width: 768px) {
    height: 55px;
    background-color: $dark-blue;
    padding: 17px;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 26px;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      gap: 0;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
    @media screen and (max-width: 768px) {
      gap: 21px;
    }
    &__small {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &:last-child {
      padding-right: 45px;
      @media screen and (max-width: 768px) {
        padding-right: 0;
      }
    }
  }
  .circle {
    &-left {
      @include circle($blue);
    }
    @include circle($text-secondary);
    &-mobile {
      @include circle($border);
    }
  }
  .bars-left {
    @include bars(136px, $blue);
  }
  .bars-rigth {
    @include bars(136px, $orange);
  }
  .bars-small {
    @include bars(91px, $text-secondary);
  }
  &__item__divider {
    height: 65px;
    border-left: 1px solid #ececf1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
