@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  background-color: $dark-blue;
  @media screen and (max-width: 1020px) {
    display: none;
  }
  &__logo {
    width: 150px;
    display: block;
    margin-left: 46px;
    margin-top: 47px;
  }
  &__bars {
    @include bars(111px, $border);
    margin-left: 46px;
    margin-bottom: 36px;
    &:first-of-type {
      @include bars(111px, $white);
      margin-top: calc(218px - 97px);
    }
  }
}
