@import '../../styles/variables';

.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 200px;
  height: 100vh;
  overflow-y: hidden;
  background-color: $dark-blue;
  transition: transform 500ms ease-in-out;
  @media screen and (max-width: 768px) {
    position: absolute;
    z-index: 99;
    transform: translate(-120%, 65px);
    height: calc(100vh - 65px);
    width: 50vw;
    &.active {
      transform: translate(0, 65px);
    }
  }
  &__logo {
    width: 150px;
    display: block;
    margin-bottom: 50px;
  }
  &__list {
    list-style: none;
    & li {
      padding: 0.5rem;
    }
  }
  &__link {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: $text-secondary;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $orange;
    }
  }
}
