@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.modal {
  @include modal(190px, 98px);
  right: 0;
  left: 16px;
  bottom: -44px;
  transform: translateX(140%);
  @media screen and (max-width: 568px) {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
    margin-top: 20px;
    cursor: pointer;
    &-text {
      margin-left: 8px;
    }
    &:last-of-type {
      margin-bottom: 24px;
    }
  }
  &__hide {
    @include modal(290px, 397px);
    bottom: 0;
    right: 0;
    left: 0;
    width: 290px;
    font-size: 14px;
    @media screen and (max-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
    }
    &__header {
      display: flex;
      align-items: center;
      height: 48px;
      background-color: #f0f0f1;
      &__btn {
        display: flex;
        align-items: center;
        margin-left: 16px;
        height: 48px;
        color: $text;
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        &-text {
          margin-left: 8px;
        }
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 270px;
      padding: 20px 23px 25px;
      &__item {
        display: flex;
        margin: 8px 0;
        &-text {
          margin-left: 8px;
          font-size: 15px;
        }
      }
    }
    &__footer {
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 247px;
        margin: 0 auto;
        color: $modalBtn;
        opacity: 0.3;
        background-color: $white;
        border: 1px solid $modalBtn;
        font-family: inherit;
        font-size: 12.8px;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }
}
